repos:
- repo: https://github.com/rstcheck/rstcheck
  rev: v6.2.5
  hooks:
    - id: rstcheck
      additional_dependencies: ['rstcheck[sphinx,toml]']

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-json
    - id: debug-statements
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: fix-byte-order-marker
    - id: mixed-line-ending
    - id: trailing-whitespace
