version: 2


test: &test
  steps:
    - checkout
    - run:
        name: setup tzdata
        command: |
          export DEBIIAN_FRONTEND=noninteractive
          export TZ=Etc/UTC
          ln -fs /usr/share/zoneinfo/$TZ /etc/localtime
          echo $TZ > /etc/timezone
    - run:
        name: Install Dependencies
        command: >
          apt-get update &&
          apt-get install -y
          zsh
          curl
          ncurses-bin
          git
    - run:
        name: Download Zunit
        command: |
          mkdir -p ~/bin
          curl -L https://raw.githubusercontent.com/molovo/revolver/master/revolver > ~/bin/revolver
          curl -L https://github.com/molovo/zunit/releases/download/v0.8.2/zunit > ~/bin/zunit
          chmod u+x ~/bin/{revolver,zunit}
    - run:
        name: Run Zunit
        command: |
          # Required by pipenv to work correctly
          export LC_ALL=C.UTF-8
          export LANG=C.UTF-8
          export TERM="xterm-256color"  # Required by tput
          export PATH="$HOME/bin:$PATH"
          zunit --verbose


jobs:
  lint:
    docker:
      - image: "python:3.14"
    steps:
      - checkout
      - run:
          name: run restructuredtext linter
          command: |
            pip install restructuredtext_lint pygments
            rst-lint *.rst

  test-zsh:
      docker:
        - image: "ubuntu:latest"
      <<: *test

workflows:
  version: 2
  test:
    jobs:
      - lint
      - test-zsh
